/*Navbar*/
.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    background-color: var(--lightBrown);
}

.logo {
    width: 30px;
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLinks {
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.navLinks a img {
    width: 20px;
}

/* HERO SECTION */
.hero-section {
    width: 100%;
    height: 280px;
    background: url("../public/biblioteca.jpg");
    background-size: fill;
    background-position: top center;
    display: flex;
    justify-content: center;
}

.hero-title {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0 20px;
}

.hero-title span:first-child {
    font-size: 20px;
}

.hero-title span:last-child {
    font-size: 50px;
    line-height: 50px;
}

.hero-span {
    color: white;
    font-weight: 700;
}

/*BookCards*/
.bookCard {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.bookCard img {
    width: 220px;
    height: auto;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.40);
}

.bookCard figcaption {
    width: 220px;
    margin-top: 10px;
}

.bookCard figcaption div {
    display: flex;
    justify-content: space-between;
}

/*Log In form*/

.formulario-contenedor {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 35%;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--mediumBrown);
    border-radius: 5px;
    font-size: 14px;
}

.login-container input[type="submit"] {
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 10px;
    background-color: var(--mediumBrown);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container input[type="submit"]:hover {
    background-color: var(--lightBrown);
}

.login-container a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.login-container a:hover {
    text-decoration: underline;
}

.register-link {
    margin-top: 20px;
}

.login-container p {
    font-size: 12px;
    color: #777;
}

.login-container p a {
    color: #007bff;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}

/*register container*/

.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.register-container h1 {
    margin-bottom: 20px;
}

.register-container input[type="email"],
.register-container input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--mediumBrown);
    border-radius: 5px;
    font-size: 14px;
}

.register-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--mediumBrown);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-container input[type="submit"]:hover {
    background-color: var(--lightBrown);
}

.register-container a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.register-container a:hover {
    text-decoration: underline;
}

.register-container p {
    font-size: 12px;
    color: #777;
}

.register-container p a {
    color: #007bff;
    text-decoration: none;
}

.register-container p a:hover {
    text-decoration: underline;
}

.register-container .checkbox {
    text-align: center;
    margin: 5px 0;
}

/*Tabla de admin*/

.booktable {
    width: 70%;
    border-collapse: separate;
    margin-bottom: 20px;
}

.booktable th {
    background-color: var(--mediumBrown);
}

.booktable th,
.booktable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--lightBrown);
    text-align: center;
}



/*Footer*/
footer {
    width: 100%;
    min-height: 250px;
    background-color: var(--lightBrown);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerCopyright {
    width: 100%;
    border-top: 1px solid var(--lightColor);
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 30px 0;
    box-sizing: border-box;
}

.footerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footerUl {
    width: 170px;
    list-style-type: none;
    padding: 10px;
}

.footerLi {
    padding: 5px 0;
}

.footerMainItem {
    font-weight: bold;
    padding-bottom: 20px;
}