.formulario-contenedor {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 35%;
}

.bookForm-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}

.bookForm-container h1 {
    margin-bottom: 20px;
}

.bookForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bookForm .formSeparator{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookForm .formSeparator input[type="text"] {
    width: 48%;
}

.bookForm input[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--mediumBrown);
    border-radius: 5px;
    font-size: 14px;
}

.bookForm input[type="submit"] {
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 10px;
    background-color: var(--mediumBrown);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.bookForm input[type="submit"]:hover {
    background-color: var(--lightBrown);
}

.bookForm label{
    color: var(--lightBrown);
}

.bookForm input[type="date"] {
    width: 40%;
    background: #EBDACC;
    color: #8A3119;
    border: 1px solid #945737;
    padding: 0.5em;
    border-radius: 5px;
}

.bookForm input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
